[2016-07-08 04:36] nicolaskruchten opened #1 "Tests don't test new functionality"
First of all, very nice job on this packaging! I'm glad the framework from PivotTable.js was helpful :)

I notice that you've reused the test suite, which is great, but I would recommend upgrading the tests so that they actually run with your extended PivotData and Renderer, otherwise they are really just testing the core.

[2016-07-09 14:47] nagarajanchinnasamy commented on #1
Thanks for being my first customer :-) ...

Good catch ;-) Its surely on my TODO list.

[2016-07-09 22:59] nagarajanchinnasamy opened #2 "New aggregators: % of Parent Row Total and % of Parent Column Total"
In [Issue #26](https://github.com/nicolaskruchten/pivottable/issues/26) of PivotTable.js

@ahmad003 wrote:

I think you can make new aggregation function like % of Parent Row Total and % of Parent Column Total in excel (option Show Value as), that you can make subtotals output...

[2016-07-11 05:58] nagarajanchinnasamy commented on #1
In master branch, added few tests for SubtotalPivotData... Will add tests for SubtotalRenderer.

[2016-07-12 01:31] nicolaskruchten commented on #1
Cool! It's neat to see that the testing framework can help QA other code as well :)

[2016-07-17 13:20] nagarajanchinnasamy opened #3 "v1.2.0: Table does not display when both collapseColsAt and collapseRowsAt are not specified"
PivotTable does not display when `rendererOptions` is not used (both collapseColsAt and collapseRowsAt are not specified)

[2016-07-17 13:33] #3 closed

[2016-07-27 12:59] rippi opened #4 "Type Error: Cannot read property '' of undefined"
When changing the renderer from one of the standard ones to 'Table with Subtotal' or any other of the subtotal renderers I get an exception.

[code]

at line 262 in subtotal.coffee:
`aggregator = tree[flatRowKey][flatColKey] ? {value: (-> null), format: -> ""}`
everything after the ? is getting marked red by Chrome DevTools

Not shure what went wrong there.

[2016-07-27 16:02] nagarajanchinnasamy commented on #4
Hi, I modified the [PivotUI Example](http://nagarajanchinnasamy.com/subtotal/examples/subtotal_pivotui.html) to use Table renders with the following change:

        var renderers = $.extend($.pivotUtilities.renderers,
            $.pivotUtilities.subtotal_renderers);

I could switch between renderers without any issue. if you can share some sample code to simulate the error, that will help me to

[2016-07-28 08:49] rippi commented on #4
I'm doing exactly the same. The only difference is my data source. It's some JSON with part filled, part empty fields in it.
I tried it and this error comes up when there are empty fields in one of the column attributes.
Example JSON:
`[{"name":"Frank","age":"35","gender":"male"},{"name":"Lisa","age":"25","gender":"female"},{"name":"Tom","age":"","gender":"male"}]`
Put `gender `and `name `in rows

[2016-07-28 09:37] rippi commented on #4
Oh, I didn't get the newest Version of pivottable.js.
Sorry for my stupidity ^-^

[2016-07-28 09:37] #4 closed

[2016-07-28 13:27] rippi opened #5 "Heatmap not using colorScaleGenerator"
When I'm using the Standard Heatmap the colorScale I declared in the options for pivotUI is used. If I'm using your Heatmap it's the standard blue-to-white-to-red color scale.

[2016-07-31 00:04] nagarajanchinnasamy commented on #5
@rippi Thanks for the feedback. Issue fixed in Version 1.3.1.

[2016-08-01 13:19] #5 closed

[2016-08-02 07:38] ahmad003 opened #6 "Fill color or bold for sub totals"
Is there a way to fill subtotals with color or bold the text ?

[2016-08-02 11:14] nagarajanchinnasamy commented on #6
The `<td>` elements of subtotals are created with class `pvtVal pvtColSubtotal pvtRowSubtotal`. Could you please use CSS to style them?

[2016-08-02 15:59] nagarajanchinnasamy commented on #6
For E.g., I tried the following code to style them dynamically as follows:

    $(".pvtRowSubtotal").css("background-color", "#EFEFEF")
    $(".pvtColSubtotal").css("background-color", "#EFEFEF")

Just to color the background.

[2016-08-03 12:28] nagarajanchinnasamy commented on #6
[Please check example: Pivot() With Subtotal Row And Column Styling - Bold Text and Background Color #EFEFEF](http://nagarajanchinnasamy.com/subtotal/examples/subtotal_pivot_css.html)

[2016-08-03 12:50] nagarajanchinnasamy opened #7 "Add pvtRowSubtotal class to "Totals" column cells"
Add `pvtRowSubtotal` class to `Totals` column cells

[2016-08-09 06:14] #6 closed

[2016-08-18 11:12] kjeldahl opened #8 "Multiple tables on same page interfers with each other"
When multiple pivot tables are on the same page columns are expanded on all tables when expanding in one.

The reason is that setColVisibility (https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/blob/master/subtotal.coffee#L303) is not scoped to the current table.

[2016-08-18 19:40] nagarajanchinnasamy commented on #8
@kjeldahl Thanks for your contribution. I will merge your pull request.

[2016-08-18 19:40] #8 closed

[2016-08-19 13:18] nagarajanchinnasamy commented on #7
Fixed In Version 1.3.2

[2016-08-19 13:18] #7 closed

[2016-09-16 09:50] nitinuttarwar opened #11 "Multiple aggregator"
Can we use multiple aggregator in the subtotal rederer?

[2016-09-18 23:14] nagarajanchinnasamy commented on #11
This is actually a question on core pivottable package. Please refer to Wiki at:

https://github.com/nicolaskruchten/pivottable/wiki/Aggregators

Look for `Pivot().aggregator`, `PivotUI().aggregators` and `PivotUI().aggregatorName`

Short answer is: No. You can only have one aggregator per pivot instance.

Could you please explain what is it that you are trying to achieve?

[2016-09-21 00:34] j8lp opened #12 "Put Row SubTotals at Bottom Instead of Top"
Is there a way we can put the row subtotals at the bottom of its parent row instead of at the top of its parent row.  For  example:
[http://nagarajanchinnasamy.com/subtotal/examples/](http://nagarajanchinnasamy.com/subtotal/examples/)

Is there a way we can get the total number of Female Voters to appear at the bottom of the Female row instead of at the top?

[2016-09-28 11:10] nagarajanchinnasamy commented on #12
Hi, Currently its not possible to put the subtotals as the last row of the parent. I will take this as an enhancement request and if it doesn't impact the performance, I will try to implement it. If implemented, I will make it configurable through an option.

Thanks for the feedback.

[2016-10-28 02:09] arseban opened #13 "row subtotal at bottom"
how if I want to put subtotal row at bottom not at the top

[2016-11-01 06:44] nagarajanchinnasamy commented on #13
@arseban isn't this same as issue #12 ?

[2016-11-03 18:06] zam6ak opened #14 "Give label for Subtotal"
Is it possible to give a label for the subtotals row?

In your example:
http://nagarajanchinnasamy.com/subtotal/examples/subtotal_pivot.html

if you expand on Gender, the top cell for Procince (subtotal) is blank.
It would be nice if it could automatically put in "Subtotal for Province"
Perhaps via config option or something....

[2016-11-05 18:50] nagarajanchinnasamy commented on #14
@zam6ak If I am right, you are referring to the highlighted cell in the attached image.

Sure, we can add a title text instead of keeping it empty. I will take this as an enhancement.

Just one clarification though: That highlighted cell's row is the subtotal row for Female. Not for Province.
![subtotalrowheader](https://cloud.githubusercontent.com/assets/1784880/20032717/a500babc-a3b6-11e6-8a0a-8

[2016-11-07 09:17] zwirnerj commented on #14
@zam6ak maybe it helps if you just add:
`table.pvtTable .pvtRowLabel {vertical-align: top;}`
to your css file. After that the "female" label is on top next to the subtotal.
There are a lot of things that can be done to fit your needs just by adjustment of CSS:
![example](https://cloud.githubusercontent.com/assets/807691/20052129/d858b0b4-a4d2-11e6-92cc-9fecd7da447e.png)

[2016-11-07 14:33] zam6ak commented on #14
@nagarajanchinnasamy You are correct, it is for Female. I think it would be nice to add this via config option and if enabled it would just put text "Totals for {{colOrRowName}}" Also, perhaps, this makes sense only when item is expanded?

@zwirnerj  this is not the same as having a label....I do think this CSS should be default though. It helps a lot

[2016-11-08 21:53] zam6ak opened #15 "RangeError: Maximum call stack size exceeded when using 'Table With Subtotal Heatmap' renderer"
I have a data set with approx 14,000 rows (array of arrays), each row with 5 items.

the usage is straight forward, but if I use heatmap renderer it crashes:
[code]
Here is the error:

[code]

[2016-11-14 11:55] nagarajanchinnasamy commented on #15
Hi did u try built-in "Heatmap" renderer? Does it work?

[2016-11-14 11:56] #11 closed

[2016-11-14 11:56] #13 closed

[2016-11-14 13:05] Dams591 opened #16 "Multiple values/aggregator"
Hi there,

Thanks for the amazing work you've added on top of pivottable.
I really like the ability to expand/collapse this awesome.

One of the thing I'm trying to add to your extension is the ability to have multiple values/aggregator.
I was using the method described there:
https://github.com/nicolaskruchten/pivottable/issues/30

Full like to fork:
https://github.com/unk1911/pivottable-multi-fi

[2016-11-16 15:40] ilyaguy opened #17 "Default collapse behaviour"
At first, thank you for the plugin.

Then question: could you suggest how I can change default collapse behaviour?

I want to collapse all rows without describing attributes in `rendererOptions { collapseRowsAt: [] }`.

[2016-11-17 08:05] nagarajanchinnasamy commented on #16
Hi, Thanks :)

I could not get the example of `pivottable-multi-field-aggregator` project or the fiddle. Could you please post some screenshots so that I understand your requirement well.

[2016-11-17 08:07] nagarajanchinnasamy commented on #15
Hi could you please share the dataset - with adequate masking.... so that I can reproduce the error?

[2016-11-17 09:23] nagarajanchinnasamy commented on #17
Hi, Welcome :)

Just want to understand the reason behind not being able to mention one of the values of `rows` array as the value for `collapseRowsAt` so that I can think of a right solution for this.

[2016-11-17 10:02] ilyaguy commented on #17
I use PivotUI, and person, who use the report, can change the settings of pivot table, so `collapseRowsAt` settings will work only in default case.

[2016-11-17 10:05] Dams591 commented on #16
Hey !

There you go.
The main goal is to have multiple values per column.
Like you can see here we have only one column 'Okres' and for each of them we have 4 values : "IleOper, MK_Saldo, MO_Saldo, MS_Saldo"
I've already started to modified your rendered but I have to say it's not easy and I'm still far away from the expected result.

![image](https://cloud.githubusercontent.com/assets/12731716/20

[2016-11-17 10:09] Dams591 commented on #16
Here's another github link describing the use of MfSum And MfTableRenderer
https://github.com/nicolaskruchten/pivottable/issues/30

[2016-11-17 14:23] zam6ak commented on #15
I tried to anonymize the data set so I can share it, but its too much...
But I found several data sets on the Internet....
I am going to try companies data set (last one) from here: http://jsonstudio.com/resources/
and see if I can reproduce..

Using just Heatmap renderer was weird...Worked 2 out of 10 times I tried (just reloading the page, no other changes).....

[2016-11-17 19:09] nagarajanchinnasamy commented on #16
Thanks :)

Got it. What if there are `vals` in both rows and columns?

Please give me some time to think through and respond as early as possible.

[2016-11-17 19:15] nagarajanchinnasamy commented on #15
Sure Thanks.

But, if the Heatmap renderer is failing on your dataset... then I suggest you take it up with the base/upstream PivotTable.js project first --- For heatmap functionality I don;t do anything other than just calling the base project's heatmap rendering...!!!

[2016-11-17 19:18] nagarajanchinnasamy commented on #17
Do you basically mean, it cant be declarative??? And you want an API to be called at runtime???

[2016-11-17 19:29] nagarajanchinnasamy commented on #14
Thanks @zwirnerj ... Nice idea :)

Along with what @zwirnerj has suggested you can highlight the subtotal row with a different background color as shown in one of the examples. I think that will be more elegant without adding more text into the table.

@zam6ak  I get your point too.... Please try above suggestions and let us know. Implementation wise it should not be very difficult to add what you

[2016-11-17 21:26] ilyaguy commented on #17
If you open your [example](http://nagarajanchinnasamy.com/subtotal/examples/subtotal_pivotui.html) and exchange "Party" and "Gender" (Drag "Party" to the rows and "Gender" to the columns) then all subtotals will expands and grid will become too big.

My idea is: subtotals blocks should be collapsed by default.
So, if you drag "Province", "Party" and "Gender" to rows, all of them will be collapsed

[2016-11-17 21:40] zam6ak commented on #14
@nagarajanchinnasamy  I added teh style that @zwirnerj  suggested. It looks better, but I wish there was a way to change the background color of the subtotals row but only row when expanded.
I think that would ultimately do it.

[2016-11-17 23:15] nagarajanchinnasamy commented on #17
How about mentioning the index/position instead of a row/column attribute name so that it works always at a level rather than by a specific attribute name?

`collapseRowsAt: 0` will collapse all rows at first level irrespective of what the first element is in `rows` array.

Does that sound alright?

[2016-11-17 23:23] nagarajanchinnasamy commented on #14
Did you check this the example at:

http://nagarajanchinnasamy.com/subtotal/examples/subtotal_pivot_css.html

Does that help?

[2016-11-17 23:25] ilyaguy commented on #17
It looks like good idea.

[2016-11-17 23:32] ilyaguy commented on #14
I've used following styles
[code]
and result is:
<img width="329" alt="screen shot 2016-11-18 at 01 30 02" src="https://cloud.githubusercontent.com/assets/6704355/20412343/c6d73e50-ad2e-11e6-9d70-468e995f6341.png">

[2016-11-17 23:33] nagarajanchinnasamy commented on #16
Sorry about the stupid question:    "What if there are `vals` in ....."  :)

[2016-11-18 10:49] Dams591 commented on #16
I have something working but I'm not too proud of my code :p Most likely on buildRowHeaderHeaders i'm looping on valueKeys which contains the name of all my values columns (Cost, Sales) In buildValues same thing, but instead of calling aggregator.val() I call aggregator.multivalue() which return one property per value. Same technic is used inside buildTotals and buildGrandTotal. I also changed som

[2016-11-18 19:58] nagarajanchinnasamy commented on #16
Feel free to fork/clone the repository and incorporate your changes in your forked repository.

That will help us to review the changes....

[2016-11-19 10:37] nagarajanchinnasamy commented on #17
@ilyaguy I have committed the changes to master branch. Added `subtotal_pivotui_collapse_numeric.html` to examples. Please check and let me know if everything is fine. We can make a release with this feature. Thanks for your participation and feedback.

[2016-11-19 20:37] ilyaguy commented on #17
@nagarajanchinnasamy It works fine! Thank you.

[2016-11-19 20:37] #17 closed

[2016-11-25 10:48] ilyaguy opened #18 "Auto-derive: change rowAttrs duplicate first row."
Hi.

I'm working on auto deriving date attributes.

I've changed `SubtotalPivotData.processKeys` to replace attribute name to list, if `derivedAttributes` returns array instead of string.

But I have an issue there: first row of result set is duplicated.

Link to example: http://pivot.src.ilyaguy.me/examples/subtotal_pivotui_autodate.html
Link to source code: https://github.com/ilyaguy/pivottable-

[2016-11-25 10:55] ilyaguy opened #19 "Empty filter lead to JS error."
If you clear any filter, renderer lead to JS error:
[code]

[2016-11-25 20:01] nagarajanchinnasamy commented on #19
Thanks for the feedback. Please give more details. I couldn't understand what you mean by "if you clear any filter'!!!

[2016-11-25 20:05] nagarajanchinnasamy commented on #18
Sorry... I couldn't understand what you mean by "first row of result set is duplicated"

Please detail the steps to reproduce the scenario.

Thanks for your feedback.

[2016-11-25 20:07] nagarajanchinnasamy commented on #16
@Dams591  pls share your code changes...so that i get a better understanding...

[2016-11-25 20:11] nagarajanchinnasamy commented on #15
@zam6ak  could you check with base `pivottable.js` package to confirm if the issue is with `subtotoal` plugin or not???!!!

[2016-11-25 21:15] ilyaguy commented on #19
1.  Open, for example, http://nagarajanchinnasamy.com/subtotal/examples/subtotal_pivotui.html
2. Double click on "Gender".
3. Unselect both elements ("Male", "Female").
4. Click "OK"

[2016-11-25 21:21] ilyaguy commented on #18
<img width="455" alt="screen shot 2016-11-25 at 23 17 04" src="https://cloud.githubusercontent.com/assets/6704355/20635411/5e0431b6-b365-11e6-99b8-2858a69df304.png">

Do you see two rows with "2016 - 01 - 01" keys and "6" as totals?
The first of them is generated by mistake.
 Thank you for help.

[2016-11-26 20:00] nagarajanchinnasamy commented on #19
Thanks. Understood :) This got to be a bug!!!!

Will revert asap.

[2016-11-27 07:33] nagarajanchinnasamy commented on #18
Yes. Thanks. Got it :)

Will need more time to understand the implications of your change:

Will go through your code changes and let you know.

[2016-11-27 12:09] nagarajanchinnasamy commented on #19
@ilyaguy I have committed the changes to master branch. Currently when  emptying filters for any of row or column attributes will result in an empty table. I have checked that the base `pivottable.js` examples also behave the same way.

Please verify the fix and confirm.... Thanks :)

[2016-11-28 08:09] ilyaguy commented on #19
It works correct. Thank you.

[2016-11-28 08:09] #19 closed

[2016-11-28 09:00] ilyaguy commented on #19
You didn't push the fix to examples site. :)

[2016-11-28 13:55] nagarajanchinnasamy commented on #19
Yes...I do that after making the release... Its yet to be released :)

[2016-11-28 21:53] zam6ak commented on #15
Apologies for delay on this.
I confirmed that issue exists even when using 'Heatmap' renderer from base project.
I filed the issue: https://github.com/nicolaskruchten/pivottable/issues/585

[2016-11-28 22:21] zam6ak commented on #14
@ilyaguy  After applying your styles I realized that background color completely wipes out effects of Heatmap renderer....

[2016-12-02 13:37] nagarajanchinnasamy commented on #15
@zam6ak Will keep this issue open, till we confirm that the issue is resolved. Sorry I misread your message that you fixed it...instead of *filed* it! Hence the closure and reopening of the issue :)

[2016-12-02 18:20] zam6ak opened #20 "styling collapsable labels"
I would like to add `cursor: pointer` to row and column labels that are collapsible.
But classes alone do not differentiate between collapsible vs non-collapsible columns and rows.
At least not that I can see (e.g. classes `pvtRowLabel` and `pvtAxisLabel`)

Is there a way to accomplish this?

[2016-12-03 01:34] fullstack2 commented on #16
@Dams591 - I'm looking for similar feature, Could you please share your code ?

[2016-12-07 18:08] nagarajanchinnasamy commented on #20
@zam6ak Thanks for your feedback :)

One of `expanded` and`collapsed` classes is added to headers and labels based on their current status. Changes regarding this are committed to master.

Please check and confirm if the changes are fine.

[2016-12-07 18:14] nagarajanchinnasamy commented on #14
@zam6ak hope `styling collapsable labels #20` will be able to meet your requirement!!!???

[2016-12-10 02:22] fullstack2 commented on #16
@Dams591  - Could you please share your code ?

[2016-12-11 06:00] nagarajanchinnasamy commented on #14
Will take this forward with #20 `styling collapsible labels`. Closing this for now.

[2016-12-11 06:00] #14 closed

[2016-12-12 07:23] nagarajanchinnasamy commented on #20
Feature incorporated into Version 1.1.1

[2016-12-12 07:23] #20 closed

[2016-12-13 17:23] zam6ak commented on #20
@nagarajanchinnasamy I think the label should be wrapped in span element and then that span should be either collapsed or expanded. Right now, on tall columns, entire cell is click-able (with pointer: cursor).
Unless that was by design....Is it? (meaning if I vertically align to top a collapsible, tall column - should clicking anywhere in that cell expand it or just when clicking on the table)?

[2016-12-13 17:28] zam6ak commented on #20
@nagarajanchinnasamy  Also, may be usefull to add some notes to new CSS file about interference with Heatmap renderer...This is what I have:

[code]

[2016-12-14 08:21] nagarajanchinnasamy commented on #15
Closing this issue as per the details in https://github.com/nicolaskruchten/pivottable/issues/585

[2016-12-14 08:21] #15 closed

[2016-12-15 21:07] nagarajanchinnasamy commented on #20
@zam6ak Thanks for the feedback.

Yes I deliberately left the whole cell clickable so that users don;t have to exactly place the mouse on the label to click. Hope that;s more convenient!!!

Also I will add the notes to CSS on interference with heatmap renderer. Thanks :)

[2016-12-26 05:05] dave-killough opened #21 "Drilldown callback"
Great job!   Nicolas just added drilldown support to his built-in table.  Would you be willing to add this feature to subtotal as well?  Thanks.

[2016-12-26 05:19] dave-killough opened #22 "Sorting"
The ability to sort in subtotal by clicking on headers would be very useful.  Some of the headers would need to be able to expand and sort concurrently. I know this wouldn't be trivial, but it would be a great feature.

[2016-12-27 08:05] nagarajanchinnasamy commented on #21
Thanks for your feedback. Could you please point me to an example to understand how this works.

[2016-12-27 14:37] dave-killough commented on #21
Here's the example Nicolas provided on his site.  Just click on any value to trigger the callback that would handle the drilldown.  I believe he checked in the handler around 12/25.

http://nicolas.kruchten.com/pivottable/examples/mps_prepop.html

[2016-12-27 15:06] dave-killough commented on #21
Here's some background:
http://github.com/nicolaskruchten/pivottable/issues/33

[2016-12-27 19:21] nagarajanchinnasamy commented on #21
Thanks. Just thinking if we should treat the click event on a sub-total cell different from a value cell? Any thoughts?

[2016-12-28 04:33] dave-killough commented on #21
I think they should be treated the same way, passing in the filters behind the selected cell.  They're all subtotals to me.  That's why I like the drill-down.

[2016-12-28 14:52] Dams591 commented on #12
Hey @nagarajanchinnasamy
Any progress on this ? any idea how I could do that easily ? Been trying for quite a long time and I have to say I'm struggling. Also any idea how to not display subtotals when expanding ?
Thanks.
Damien.

[2016-12-28 14:54] Dams591 commented on #16
At the moment I can't since its really tight to some other application, I'm doing my best to clean it and share it with you guys.

[2016-12-28 14:57] Dams591 commented on #12
To me the secret is inside buildRowHeaders, but can't modify it easily.

[2016-12-29 12:52] nagarajanchinnasamy commented on #21
@dave-killough I have committed the feature to master branch.

The syntax is slightly different from the original PivotTable.js package. Added an example of event handling to `examples/260_event_handlers.html`. Let me know if you have any thoughts on this.

Please check and provide your feedback.

[2016-12-29 13:03] nagarajanchinnasamy commented on #22
Thanks for your feedback. Could you please elaborate in detail... possibly with examples so that I can understand the requirement better.

[2017-01-01 15:43] nagarajanchinnasamy opened #23 "Jasmine tests"
Provide similar fix to subtotal.js tests as per the issue reported at: [#597](https://github.com/nicolaskruchten/pivottable/issues/597)

[2017-01-01 16:24] #23 closed

[2017-01-05 14:07] nagarajanchinnasamy commented on #21
Feature released. Closing the issue. Please report as a new issue if any...

[2017-01-05 14:07] #21 closed

[2017-01-05 14:15] nagarajanchinnasamy commented on #2
@ahmad003 I have added following 2 new aggregators in `$.pivotUtilities.subtotal_aggregators`:
1. `Sum As Fraction Of Parent Row`
2. `Sum As Fraction Of Parent Column`

As a demo, [new example can be found here](pivottable-subtotal-renderer/examples/237_fraction_of_parent_aggregators.html) . Please check and provide your feedback. Thanks :)

[2017-01-05 21:42] dave-killough commented on #21
Thank you very much - I will check this out when I get back to it.

On Thu, Jan 5, 2017 at 9:07 AM, Nagarajan Chinnasamy <
notifications@github.com> wrote:

[2017-01-12 22:21] nagarajanchinnasamy commented on #2
Implemented

    1. Count As Fraction Of Parent Row
    2. Count As Fraction Of Parent Column

Released as part of `v1.6.0`

[2017-01-12 22:21] #2 closed

[2017-01-12 22:25] nagarajanchinnasamy commented on #1
Added more tests specific to subtotal plugin as part of v1.6.0. Would love to hear your feedback :)

[2017-01-12 22:45] nagarajanchinnasamy opened #25 "v1.6.0 Tests Broken"
Due to change in the order of aggregators in `$.pivotUtilities.subtotal_aggregators`

[2017-01-13 03:42] nagarajanchinnasamy commented on #25
Issue fixed and released v1.6.1

[2017-01-13 03:42] #25 closed

[2017-01-18 01:19] fullstack2 commented on #16
Thanks @Dams591 , Hoping to see your code soon.

@nagarajanchinnasamy  - Any chances of you working on this feature ?

[2017-01-18 01:23] fullstack2 commented on #22
Sorting by cell values would be useful. Example - http://webpivot.nrecosite.com

[2017-01-18 09:16] nagarajanchinnasamy commented on #16
OK. Let me give it a try over this weekend if possible. Will keep you posted. Thanks for you interest :)

[2017-01-18 18:01] fullstack2 commented on #16
@nagarajanchinnasamy  - That would be great ! Thanks in advance !

[2017-01-23 05:32] nagarajanchinnasamy commented on #16
I haven't started coding. Still trying to understand the requirement better and arrive at a generic design. But definitely in my to-do list :)

[2017-01-23 09:04] Dams591 commented on #16
Hey Guys,

I was able to make a working version for you to study.
Here is my code. Like I mentioned earlier I'm not so prod about it and since I didn't have the time to clean it it is a little bit messy.
I'm currently looking for a way to display/hide subtotals (specially once on expand) and i would appreciate if you could help me towards that.

On the following codpen you will see that I have mul

[2017-01-23 16:55] nagarajanchinnasamy commented on #16
@Dams591 Thanks for the code. Will go through it.

**Regarding, the way to display/hide subtotals:**
`pvtColSubtotal` and `pvtRowSubtotal` classes will help you locate the cells related to subtotals.  `expanded` and `collapsed` classes will help you locate expanded or collapsed subtotal headers. You can find elements using these classes and apply necessary css.

See #20 styling collapsible labels.

[2017-01-23 16:59] nagarajanchinnasamy commented on #16
@Dams591 you may also want to refer to #14 Give label for subtotal

[2017-01-23 17:20] Dams591 commented on #16
@nagarajanchinnasamy I think using the css class will be enough !! I didn't know you implemented this ! great news ! thanks and let's keep in touch.

[2017-01-23 17:56] Dams591 commented on #16
Humm sorry maybe I wasn't clear enough. I did implement the expanded/collapsed classes but it is not going to help me much.

I want to remove whats highlighted in yellow below once the collum is expanded. In fact I want to hide the subtotal value columns when I expand.

![image](https://cloud.githubusercontent.com/assets/12731716/22215913/5060dec2-e19d-11e6-90d6-71d9e2c2aba5.png)

And this is unfo

[2017-01-24 05:20] nagarajanchinnasamy commented on #16
Understand your problem. Could you please raise a separate issue to resolve hiding subtotals upon expansion.

[2017-01-24 08:41] Dams591 commented on #16
Sure. let me close this one in the meantime. Thanks for your help.

[2017-01-24 08:41] #16 closed

[2017-01-24 08:47] Dams591 opened #26 "Being able to hide subtotals columns when expanding."
Hey  @nagarajanchinnasamy

This time I'm trying to find the way to display subtotals columns only when collapsed. Once we expand I want to hide the subtotals column in order to see only the children. In the next example, Australia is expanded I therefore need to hide the subtotals columns (and values) highlighted in yellow.

Thanks !

![5060dec2-e19d-11e6-90d6-71d9e2c2aba5](https://cloud.githubuse

[2017-01-26 21:37] nagarajanchinnasamy commented on #26
Hi @Dams591 I've started working on this. You can track the progress in `hide-on-expand` branch. **Work In Progress.**

I have added a `rendererOption` called `rowSubtotalDisplay: "HideOnExpand"` to indicate hiding of subtotal rows when expanded. Please check [270_hide_subtotal_on_expand.html](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/blob/hide-on-expand/examples/270_hide

[2017-01-29 14:23] nagarajanchinnasamy commented on #26
You are welcome :)

Pure css only solution was possible for rows. But for columns I could not find a solution only with css.

Still trying to figure out a generic logic to make it work for both row-subtotal-hide-on-expand and col-subtotal-hide-on-expand options. One specific race-condition i need to resolve. Very close...but not there yet :)

[2017-01-31 04:26] nagarajanchinnasamy commented on #26
@Dams591, both `rowSubtotalDisplay: "Hide On Expand"` and `colSubtotalDisplay: "Hide On Expand"` are added and committed to `hide-on-expand` branch. Pls note the spaces between the words in `"Hide On Expand"`

Following examples are added:
- examples/270_hide_subtotal_on_expand.html
- examples/273_hide_subtotal_on_expand.html
- examples/275_hide_subtotal_on_expand.html

Performance improvement and

[2017-01-31 12:22] Dams591 commented on #26
Amazing ! Let me review your changes I'll give you my feedback ASAP. Thank you so much for being so reactive !

[2017-01-31 13:25] nagarajanchinnasamy commented on #12
Hiding subtotals when expanding is addressed in #26

[2017-01-31 13:30] nagarajanchinnasamy commented on #12
@j8lp @Dams591 When I started writing this plugin, unknowingly :( I have made a strong assumption that  the subtotal row goes on top. This will need major refactoring of the code.

I will keep this in my TODO list definitely. But will need more time.

[2017-01-31 13:41] nagarajanchinnasamy commented on #22
@fullstack2 Thanks for the example :) Will attempt to incorporate this feature within next couple of weekends.

[2017-02-02 09:22] sroche-tec opened #27 "Disable subtotals on column"
Hey,

I'm working on a small project where showing a total for columns doesn't really make sense.
Would it be possible to disable this feature on columns (only)

Thank u
Seb

[2017-02-02 11:48] nagarajanchinnasamy commented on #27
@sroche-tec Thanks for your feedback :)

Currently subtotal cannot be disabled. However, I will add this feature in one of the future releases.

You can check[`hide-on-expand`](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/tree/hide-on-expand) branch for the version where the subtotal columns or rows can be hidden when expanded. However, it will still show the subtotal when c

[2017-02-02 12:00] nagarajanchinnasamy commented on #12
As @Dams591 put it rightly, the secret is in `buildRowHeaders`. But it shouldn't be that difficult :)

One of you want to give it a try? Otherwise, i will come to this after completing work on "Hide On Expand" feature.

[2017-02-02 12:03] Dams591 commented on #12
I'm still integrating the hide on expand into my solution, since I have the multiple values on and some other things I'm having a tough time but I'm getting there. Once I have it I'll give it a try. Let me come back to you in 2-3 days.

[2017-02-02 15:19] nagarajanchinnasamy commented on #12
I guess, we just need to alter the way recursion is done.  No other changes may be needed.... hopefully :)

[2017-02-02 15:21] nagarajanchinnasamy commented on #26
I have made more commits with bug fixes. Pls take the latest version. I will be making couple of more commits before I merge this with master branch.

[2017-02-02 22:49] nagarajanchinnasamy commented on #26
Feature supported as part of release v1.7.1 (Pull request #28)

[2017-02-02 22:49] #26 closed

[2017-02-02 23:35] nagarajanchinnasamy commented on #12
Just played around changing the method of recursion. It does not help. It is tough!!!

[2017-02-03 13:53] Dams591 commented on #26
@nagarajanchinnasamy I succesfully implemented it to my solution also made it compatible with multiple values. In case you are interested in having multiple values in your plugin one day check this out
http://codepen.io/anon/pen/YNVbJm?editors=0010

Thank you for your help on this, let's keep sharing the good stuff ! I'm heading to the position of the row subtotals as we speak I'll let you know as

[2017-02-03 13:55] Dams591 commented on #16
For those who needs multiple values and hiding subtotals here's a way. Sorry I couldn't forked at the time due to other issues http://codepen.io/anon/pen/YNVbJm?editors=0010

[2017-02-03 15:17] nagarajanchinnasamy commented on #26
@Dams591 Glad to know you could integrate your solution. Hope it was easy :)

I am still thinking of a generic logic for (or trying to understand) multiple values feature.

All the best on positioning row-sub-totals #12 . Points to remember are:

1. Current logic makes use of row-span, which is always upper-row-to-lower-row expansion in HTML
2. Expand and Collapse operations affect the parent head

[2017-02-04 08:34] nagarajanchinnasamy commented on #12
Points to remember are:

- Current logic makes use of row-span, which is always upper-row-to-lower-row expansion in HTML
- Expand and Collapse operations affect the parent header's row-span values

So, the secret is in buildRowHeaders, collapseRow and expandRow functions :)

[2017-02-05 07:56] nagarajanchinnasamy commented on #27
Hide On Expand feature incorporated in release [`Version 1.7.1`](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/releases/tag/v1.7.1)

[2017-02-05 09:17] nagarajanchinnasamy commented on #27
@sroche-tec wondering what should be the behavior of expand and collapse operations when subtotal is disabled?

[2017-02-06 01:09] sroche-tec commented on #27
Well from my perspective, when disabling subtotals you should hide the associated columns/rows and users shouldn't be able to expand/collapse columns/rows.

Thx for your help!
Great tools!
Seb

[2017-02-06 20:27] nagarajanchinnasamy commented on #27
You are welcome :)

Sorry....I don't understand what you mean by *hide the associated columns*! Could you please explain?

[2017-02-07 00:24] sroche-tec commented on #27
I meant the "subtotal" columns :)

On Tue, Feb 7, 2017 at 4:27 AM, Nagarajan Chinnasamy <
notifications@github.com> wrote:

--
*Sebastien Roche*
Software Development Lead
T:+852 2297 2381 Ext:2381

[2017-02-08 02:01] nagarajanchinnasamy commented on #27
So we are of the same understanding then :)

[2017-02-13 14:21] ccarrioncl opened #29 "subtotal title"
There any chance to set a title on subtotal column?

[2017-02-14 09:23] nagarajanchinnasamy commented on #29
@ccarrioncl Sorry I could not understand what you are looking for. Please share a screenshot showing what exactly you are looking for.

[2017-02-22 00:39] nagarajanchinnasamy commented on #27
@sroche-tec support for disabling subtotals is committed to [subtotal-disable](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/tree/subtotal-disable) branch. It would be nice if you can take that version and provide your feedback.

Thanks :)

[2017-02-22 01:16] sroche-tec commented on #27
Hi,

I did some testings! It works great. Thank u for your hard work.
I would have a couple of comments:
- I would hide the expand/collapse "icons" when colSubtotalDisplay is set to disable
- I would also add another display option to disable expand/collapse behaviors but keep the subtotals.

Thx again,
Seb

[2017-02-22 14:42] nagarajanchinnasamy commented on #27
@sroche-tec Thanks for taking time to test and feedback.

- Though it's a workaround, hiding expand/collapse characters can be achieved by setting     `arrowCollapsed` and `arrowExpanded` options to empty string.
- I will add a new option to disable expand/collapse while retaining subtotal display

[2017-03-24 11:40] KishanManali1824 opened #30 "subtotal prototype undefined"
Gettig an error while using subtotal.js in pivot() function.
Can not read property 'prototype' as undefined.

Please provide support for this.

![error](https://cloud.githubusercontent.com/assets/19813124/24292731/96db4cca-10b4-11e7-96c7-620bdddedae3.png)

[2017-03-27 23:30] nagarajanchinnasamy commented on #30
Hi could you please share some sample code to reproduce the problem so that I understand what exactly is happening. Thanks.

[2017-03-28 04:27] nagarajanchinnasamy commented on #27
Fixed in Version 1.8.0

[2017-03-28 04:27] #27 closed

[2017-03-28 05:44] KishanManali1824 commented on #30
Hi its solved.Its pivotjs file issue. Thanks for reply.
But now how can i hide row/column expand collapse to show subtotal
Please guide.
![demo1](https://cloud.githubusercontent.com/assets/19813124/24390610/abdc551a-13a7-11e7-9dd4-b0612dcda808.png)

[2017-03-28 06:20] KishanManali1824 commented on #30
Its solved.
Now help me how to hide expand collapse of rows & columns while showing
subtotal.

Thanks.

On Mar 28, 2017 5:00 AM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

Hi could you please share some sample code to reproduce the problem so that
I understand what exactly is happening. Thanks.

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2017-03-28 06:25] KishanManali1824 commented on #30
Ok Please Check My Code Of Binding Pivot to Div Tag With SUbtotal.

 function pivotUi(id) {

        var dataClass = $.pivotUtilities.SubtotalPivotData;
        var derivers = $.pivotUtilities.derivers;
        var renderer = $.pivotUtilities.subtotal_renderers["Table With Subtotal"];

        var sum = $.pivotUtilities.aggregatorTemplates.sum;
        var numberFormat = $.pivotUtilities.numberFor

[2017-03-28 17:59] nagarajanchinnasamy commented on #30
Hi, Glad you could solve your issues. Please check following examples:

- [Hide Row and/or Column Subtotals On Expand](http://nagarajanchinnasamy.com/subtotal/examples/170_hide_subtotal_on_expand.html)
- [Disable Row and/or Column Subtotals](http://nagarajanchinnasamy.com/subtotal/examples/180_disable_subtotal.html)
- [Disable Expand Collapse Operations](http://nagarajanchinnasamy.com/subtotal/exa

[2017-03-29 04:56] KishanManali1824 commented on #30
Hi, I have tried all options but not working.
Is there any changes in pivotjs file or not.
And what i want is to mentioned in attach demo files.
Please check & support.

Let me know.
Thanks.
![demo2](https://cloud.githubusercontent.com/assets/19813124/24439159/1ba0ee34-146a-11e7-9643-964c0e3ed759.png)
![demo4](https://cloud.githubusercontent.com/assets/19813124/24439160/1bb9c940-146a-11e7-972e-cf9

[2017-03-29 09:01] nagarajanchinnasamy commented on #30
Hmmm... Interesting requirements :)

1. In the latest version, the way to use `rowSubtotalDisplay` and `colSubtotalDisplay` has changed. Please check examples.
2. To hide arrows, you can set `arrowCollapsed` and `arrowExpanded` to an empty string
3. Hiding subtotal selectively at a particular sub-level is not supported currently

[2017-03-29 10:52] emcedeltate opened #32 "Subtotal on Column"
First of all thank you for "subtotal.js". I have a question about subtotal on column.
I want to display "Totals" under the "NAK_YEM_KILO". How can i do this?

![2017-03-29_13h45_10](https://cloud.githubusercontent.com/assets/11711212/24451278/cd8a9ad4-1486-11e7-86e0-7294731849cb.png)

[2017-03-30 04:55] KishanManali1824 commented on #30
Hi, I have checked all option.
Now i dont need to hide arrow button for expand collapse but
I really want to hide sublevel subtotal row-wise because in big reports its not showing perfectly.
Please check my attachment of sublevel subtotal.

If possible by any way i really need it to show subtotal just by first row wise not by its sub-level wise.

Waiting for positive reply.

Thanks.

![sublevel_pr

[2017-03-30 07:01] nagarajanchinnasamy commented on #30
Hi,

At present its not possible to show subtotal only at a specific level. I will take this as an enhancement. But may not be implemented immediately. Will take time.

[2017-03-30 07:08] nagarajanchinnasamy opened #33 "Disable subtotals under a specified level"
As discussed in #30 . See the image.
![1bb9c940-146a-11e7-972e-cf97d78242ed](https://cloud.githubusercontent.com/assets/1784880/24491609/bbb35278-1545-11e7-80c5-2e2d09461ac7.png)

[2017-03-30 07:10] #30 closed

[2017-03-30 09:28] KishanManali1824 commented on #30
Ok, i will wait for it but let me know can we set sub-level in collapeble mode by default.
If that possible then its gd for me.

Waiting for your reply.

Thanks.

[2017-04-06 05:35] KishanManali1824 commented on #33
Hello,

Is there any updates in this issue.
I am looking for this sub-total solution for my big project in Essar Steel, Surat.
Please provide support for this.

Thanks.

[2017-04-11 04:14] KishanManali1824 commented on #33
Hello Sir,

Please give any update in this issue.

Waiting for positive reply.

Thanks.

[2017-04-11 07:53] zwirnerj commented on #33
Hi KishanManali1824,
just	to put in my two cents because I read your comments at morning in the subway... this famous peace of software is probably developed in sparetime and we get it for free. So in my opinion it is no good style to claim for support or ernhanced features. But for sure it is ok to make suggestions.
There is always the oportunity for you to enhance the code to your needs and to s

[2017-04-11 08:12] KishanManali1824 commented on #33
Hello Sir

Sorry for that.I am not claiming for any support or enhancement.
I just need help or suggesting in this issue.

Thanks

[2017-04-14 11:58] nagarajanchinnasamy commented on #33
Sorry...couldn't spend time on this yet. Will try to implement over this weekend if possible.

Thanks for your interest, feedback n support :)

[2017-04-14 12:02] nagarajanchinnasamy commented on #32
Hi Thanks. Sorry for the delayed response. I hope u managed to implement this. Possibly through  CSS + JavaScript!?

[2017-04-14 13:54] KishanManali1824 commented on #33
Hello

OK. Will wait for positive reply.

Thanks for reply me back.

On Apr 14, 2017 5:28 PM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

[2017-04-17 01:11] gongph opened #34 "does't work build with webpack"
Hi, @nagarajanchinnasamy  ,  I had a problem when using it in webpack + vue + es6.  This my code:

As a module:
[code]

Use in Vue components
[code]

When the page is rendered， there are no icons(▶) ，i don't know what's wrong. Help!

[2017-04-17 02:06] gongph commented on #34
Problem solved!

[2017-04-17 02:06] #34 closed

[2017-04-25 11:25] KishanManali1824 opened #35 "sub-total display problem"
Respected

I am looking for displaying subtotal of rows below the row.
Currently its showing above the rows but i need to show it below that particular row.

Please support.

Thanks
Kishan Kadam.
![demo2](https://cloud.githubusercontent.com/assets/19813124/25383049/ded4df28-29d7-11e7-831c-768718e1e52d.png)

[2017-05-01 05:41] KishanManali1824 commented on #35
Hello

Is there any for support in this issue.
Please help to solve this issue.

Waiting for positive reply.

Thanks
Kishan Kadam.

[2017-05-06 07:22] nagarajanchinnasamy commented on #35
Hi @KishanManali1824 , this is same as #12

Let me know your views there.

[2017-05-06 07:22] #35 closed

[2017-05-08 05:56] KishanManali1824 commented on #12
Repsected

I just tried to modified buildRowHeaders function to bind subtotal below the row, but nothing happened.
So please try on that to resolve this issue.

Thanks

[2017-05-08 14:21] KishanManali1824 commented on #35
Hi

I just tried to change function but nothing happning.

Please try to resolve this issue.

Thanks

On May 6, 2017 12:52 PM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

[2017-05-13 09:16] nagarajanchinnasamy opened #37 "Hide Expand/Collapse arrows when subtotal display is disabled"
Automatically hide expand/collapse arrows when subtotal is disabled using renderer options to differentiate subtotal enable/disablement.

Suggestion from #27 (Disable subtotals on column)

[2017-05-13 10:13] nagarajanchinnasamy commented on #37
Implemented in release [Version 1.9.0](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/releases/tag/v1.9.0)

[2017-05-13 10:13] #37 closed

[2017-05-13 11:17] nagarajanchinnasamy commented on #33
I plan to add a renderer option `hideAfter` under `rowSubtotalDisplay` and `colSubtotalDisplay` as shown in the following example:

    rowSubtotalDisplay: {
        hideAfter: 0
    }

`hideAfter` takes the position of an attribute in the attribute-hierarchy. This will hide the subtotal rows/cols from row header 1 onwards. I have one question and a thought regarding this.

- Should this also hide

[2017-05-13 12:02] KishanManali1824 commented on #33
Hello

Thanks for replying back.In my case i am not using pivotUI function.
I directly bind pivot using pivot function of your pivot.js without drag & drop.
For me its required to show the header titles after hiding sub-total of rows.

So, this is my suggestion & implement as your  way.

Thanks & waiting for positive reply.

[2017-05-14 06:03] nagarajanchinnasamy commented on #33
@KishanManali1824  Am still not clear about this requirement.

If you don't want to show Category and Dispatchability, why don't you just exclude them from `rows` attributes list?

[2017-05-14 06:07] nagarajanchinnasamy commented on #33
Sorry... I got it. :) You just want to hide the subtotals for them.

[2017-05-14 09:06] KishanManali1824 commented on #33
Hello

I want to hide their sub total & not the rows itself.

I think u got it.

Thanks & waiting for implementation.

On May 14, 2017 11:37 AM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

[2017-05-26 06:54] KishanManali1824 commented on #33
Hi

Sorry to ping you but i want to know is there any updated in your current implementation?

Looking for support from your side.

Waiting for positive reply.

Thanks.
Kishan Kadam.

[2017-05-27 13:24] nagarajanchinnasamy commented on #33
@KishanManali1824 and friends as you can see I have committed the implementation for this feature in [disable-after](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/tree/disable-after) branch.

[An example is provided here...](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/blob/disable-after/examples/290_disable_after.html)

Please check and let me know if

[2017-05-29 07:21] gemiur opened #38 "Initial Expand/Collapse Behavior"
Hi Nagarajan , first of all many thanks for your great work on pivot table.  I found it very useful but there is something I wish to achieve which is not yet supported currently, correct me if I am wrong.  I wonder if we can set the default expand/collapse behavior in the first place.  Right now when I expand a parent element, all levels of child elements will be expanded by default, making the tr

[2017-05-29 09:52] nagarajanchinnasamy commented on #38
Hi @gemiur, you are welcome :)

If you collapse the rows/columns initially using `collapseRowsAt` and/or `collapseColsAt` options, then the descendant elements can only be expanded/collapsed manually.

[Please check the behavior in this example](http://nagarajanchinnasamy.com/subtotal/examples/210_collapse_rowscols.html)

Let me know if this meets your expectations.

[2017-05-30 03:37] gemiur commented on #38
Hi @nagarajanchinnasamy ,

Let's use your example to explain my situation. What I wish to achieve is if I set `collapesRowsAt` to 0, and when expanding **Female**, only **Province** elements will be expanded, **Age Bin** will still be hidden.  What it happens now is both **Province** and **Age Bin** are expanded automatically.  I have 4 items in the Row, last item has many child elements in it so

[2017-05-30 04:52] nagarajanchinnasamy commented on #38
Hi @gemiur,

Understood the issue now :). Will take it up as a defect.

Thanks for your feedback.

[2017-06-01 16:25] KishanManali1824 commented on #33
Hello

Its great work sir.Working fine as per my solution.

Soo many thanks for it.You save me.

Thanks.

On May 27, 2017 6:54 PM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

[2017-06-06 10:22] KishanManali1824 commented on #12
Respected

Is there any way to display sub-total below the row.
If possible then please suggest.

Waiting for positive reply.

Thanks

[2017-06-11 22:53] tgmweb opened #39 "sorters option"
When I enable subtotal.js, the sorters option in pivot doesn't work.

Do this option not exist when using subtotal.js? Or is there an equivalent?

[2017-06-11 22:56] tgmweb commented on #39
scratch that - looks like an issue my end. Sorry!

Great plugin by the way (Y)

[2017-06-11 22:56] #39 closed

[2017-06-20 10:46] SAMJN commented on #29
I guess what @ccarrioncl  is trying to ask is, whether based on different levels, can we give title headings to Subtotal. Currently it is empty. Likje in attached screenshot, below province and above Alberta, empty cell is present. So, is there any way to add title to it.

I have kind of same doubt.

![capture](https://user-images.githubusercontent.com/13886494/27329571-ba80ca1a-55d3-11e7-8f3e-a6f

[2017-06-20 11:08] SAMJN commented on #22
Hi, any progress on sorting feature?

[2017-06-21 17:21] tgmweb opened #40 "Subtotal Aggregators with pivot()"
How can I use the Subtotal Aggregators with pivot instead of pivotUI()?

Your example only shows a pivotUI example, which has "vals" attribute which pivot() doesn't support..

Thanks,

Tom.

[2017-06-21 17:23] tgmweb commented on #40
Sorry, just missed the example - it's clearly there!

Thanks,

Tom.

[2017-06-21 17:23] #40 closed

[2017-06-21 21:01] tgmweb opened #41 "Aggregator on the subtotal only"
I'm looking to see if it's possible to have a different aggregator on the subtotal (but only the subtotal).

You can do this in Excel by choosing "summarize values by".

An example might be "Average of Child Row" - where the subtotal would display an average of the aggregated child rows - so for example I'd use a sum aggreator (and when expanded you'd see the sum values), then an average aggreator

[2017-07-17 13:39] adityos2003 opened #42 "how to remove rows and columnTotals and freeze column"
Hallo Mr Nagarajan
let me introduce myself, my name leo from indonesia, and may i take your code  for my job, so great code and i'm learn pivottabel from you and nichloas kructen github, and i want to ask how about to remove rows, column totals and freeze so export excel? may you help me step by step, so below attach  the screen shoot picture. Thanks Nagarajan
![remove total](https://user-images.g

[2017-07-19 09:33] zhaoweijing2003 opened #43 "Multi Numeric Column RowTotol Sum"
[http://orbjs.net/](url)
like orb.js multicolumn sum

[2017-08-09 09:17] nagarajanchinnasamy commented on #33
Implemented in Version 1.10.0

[2017-08-09 09:17] #33 closed

[2017-08-10 10:00] nagarajanchinnasamy commented on #32
Closing as there is no response.

[2017-08-10 10:00] #32 closed

[2017-08-14 14:57] Dams591 commented on #12
Hey @nagarajanchinnasamy
Did you have the time to work on this ? Still can't figure it out :(

[2017-09-05 06:11] nagarajanchinnasamy commented on #38
After further analysis, i realized that this may  not be a defect. By default, the table is built with all rows and columns expanded so that user doesn't have to click at every level to get everything expanded. When   `collapseAt` option is used, a click at that level is mimicked. This just hides the sub items. Doesn't really collapse them. Hence the current behavior.

Still thinking how your requ

[2017-09-05 06:21] nagarajanchinnasamy commented on #41
@tgmweb this is not possible with current implementation. But this requirement will make this plugin more generic summarizer than just totaling up.

However, how do u plan to get input from user for **summarize values by**? This will require changes to `PivotUI` user interface.

[2017-09-05 12:26] nagarajanchinnasamy commented on #43
@zhaoweijing2003  could you please explain your requirement with screenshots. Thanks.

[2017-09-05 14:49] gemiur commented on #38
Hi @nagarajanchinnasamy ,

Thanks for your reply.

In that case, is it possible to have an `expandAll ` option so that when it is set to `false` all child items will be hidden ?  Imagine this as a normal directory tree in Windows Explorer, I wouldn't want all child elements get expanded each time I open the Explorer, it will be very messy :)

[2017-09-06 08:50] nagarajanchinnasamy commented on #38
@gemiur

Agree. An option to choose the initial behavior should help.

Thanks for your feedback.

[2017-09-07 14:21] rmatusiak opened #45 "Subtotal heatmap colors"
Hi. I managed to provide my own color scale to PivotTable.js with the following code:

rendererOptions: {
     heatmap: {
          colorScaleGenerator: function(values) {
          return d3.scale.linear()
          .domain([0, 50, 100, 101])
          .range(["#83d0c9", "#65c3ba", "#009688", "#d9534f"])
           }
      }
},

However, the values in my subtotal rows are not coloured. Is the any

[2017-09-07 14:35] rmatusiak opened #46 "Subtotal values filter"
Let's say I have a table with some numeric values which are possible to filter out in the top panel of Pivot Table. I also have values in subtotal rows. Is it possible to do some filtering according to those subtotals?

[2017-09-08 07:56] rmatusiak commented on #45
I resolved the issue by modifying SubTotal.css file. Below the answer:

.pvtRowSubtotal {
	/*background-color: #EFEFEF !important;*/
	font-weight:bold;
    }

    .pvtColSubtotal {
	/*background-color: #EFEFEF !important;*/
	font-weight:bold;
    }

[2017-09-08 07:56] #45 closed

[2017-09-09 11:54] nagarajanchinnasamy opened #47 "Clicking on pivot axis labels does not expand rows/columns"
Clicking on pivot axis labels does not expand rows/columns

[2017-09-09 12:12] nagarajanchinnasamy commented on #45
Glad you could resolve it 👍

[2017-09-10 08:07] nagarajanchinnasamy commented on #46
@rmatusiak

Subtotal.js is a plugin. As of now am not aware of any UI based interaction possible through PivotUI. Let me check with Pivottable.js project.

[2017-09-15 16:13] nagarajanchinnasamy commented on #38
After further thought, I chose to experiment with using `collapseAt` options. [Last commit in branch v1-11.0](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/commit/b199997c0d05effdba65025c336d70544fee4e74) handles the column collapsing. Still work in progress. Don't touch the rows yet :)

[2017-09-17 12:41] nagarajanchinnasamy commented on #12
Sorry for the delayed response. I am working on it. Scheduled for release v1.11.0.. May take couple of more weeks minimum.

[2017-09-19 13:50] WSAyan opened #48 "Getting subtotal for each and every level of a column."
Is there any way to calculate subtotal column wise. For example I have generated table like following screenshot , what i want to get here is to calculate the subtotal of each rows.

![sub](https://user-images.githubusercontent.com/7785995/30595688-b881d320-9d73-11e7-9230-c97d258bac60.PNG)

[2017-09-20 03:50] nagarajanchinnasamy commented on #48
Hi @WSAyan

Thanks for your interest in Subtotal.js 👍

This library provides support for both row-wise and column-wise subtotal. Have you checked the [examples here](http://nagarajanchinnasamy.com/subtotal/).

Please explain your requirement using one of the examples. So that I am able to understand your requirement better.

[2017-09-20 05:49] hkbeer commented on #12
Yes please create this Subtotal at the bottom option. It is very important. Thanks

[2017-09-20 08:37] hkbeer opened #49 "Hope to see option to be added for Subtotal to appear at the bottom too"
Hello this is a great tool... thank you so much.
Would be great if you are successful in  adding an option to show Subtotal at the bottom as well.

Hope to see this happen soon.
Again, great work , thanks

[2017-09-21 10:37] WSAyan commented on #48
Sorry for the unclear question. I was a bit confused about what I want. I am trying to ad calculated column fields based on user calculation. So far I've  been able to calculate percentage of **C _WEALTH_RANK_A** based on **G_WEALTH_RANK_TOTAL** as you can see them on following screenshot. And the calculation works fine but the problem is when Subtotal.js calculating all the values according to it

[2017-09-21 23:31] hkbeer opened #50 "Can I expand one row to Level2 but not another"
In my data source there are 2 columns. I drag them both to left panel as row fields. Say Level1 and Level2 are headers of these 2 columns.

In Level1...items are A, B, C. etc
Level 2 are details. Eg product details...

how to set the code so if items is A only D its Level2 is expanded ...
other are collapsed ie Level2 is not expanded by default?

Thanks

[2017-09-22 07:21] nagarajanchinnasamy commented on #50
No. Currently its not possible to collapse by value at a level. You can only simply collapse all the values at a level.

[2017-09-22 07:23] nagarajanchinnasamy commented on #49
Thanks for your feedback 👍

This is a duplicate of issue #12 . Please track the progress there. Am closing this issue as duplicate.

[2017-09-22 07:23] #49 closed

[2017-09-24 01:39] hkbeer opened #51 "Can I save state on what item is expanded ?"
Can I save state on what item is expanded ?
I am using this to save config

  onRefresh: function (config) {
                                var config_copy = JSON.parse(JSON.stringify(config));
 $("#output2").text(JSON.stringify(config_copy, undefined, 2)); }

but it does not output which row is expanded from  subtotal js/renderer ...
is there something similar on subtotal js/renderer ?

Thanks

[2017-09-24 06:18] nagarajanchinnasamy commented on #48
@WSAyan Thanks for the explanation. If I understood your requirement correct, I think, its same as issue: #41 (Aggregator on the subtotal only)[https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/issues/41).

Please confirm my understanding is correct or not.

[2017-09-28 10:08] WSAyan commented on #48
Yes it is pretty much same issue. Thanks a lot. 👍

[2017-09-28 10:08] #48 closed

[2017-09-30 15:57] nagarajanchinnasamy commented on #51
@hkbeer Sorry for the delayed response. I need to learn more about how onRefresh and config work to save state. Will get back to you.

[2017-09-30 16:07] nagarajanchinnasamy commented on #38
Column Collapsing, Row collapsing and showing row subtotals at the bottom implemented. [Please check latest v1-11.0 branch](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/tree/v1-11.0). **Pending**: Row expansion when displaying subtotals at the bottom.

Am using [examples/210_collapse_rowscols.html](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/blob/v1-1

[2017-09-30 16:08] nagarajanchinnasamy commented on #12
Column Collapsing, Row collapsing and showing row subtotals at the bottom implemented. [Please check latest v1-11.0 branch](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/tree/v1-11.0). **Pending**: Row expansion when displaying subtotals at the bottom.

Am using [examples/210_collapse_rowscols.html](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/blob/v1-1

[2017-10-04 06:50] KishanManali1824 commented on #12
Dear Sir

I have tested your updated version of subtotal.js for displaying row
subtotal in below portion of row.
Its working but now my subtotal for column is not working properly after
this update.

Please check attached files as error in my case.
Waiting for positive reply.

On Sat, Sep 30, 2017 at 9:38 PM, Nagarajan Chinnasamy <
notifications@github.com> wrote:

[2017-10-16 05:05] KishanManali1824 opened #52 "Row Sub-Total DIsplay On Top Problem."
Dear Sir
@nagarajanchinnasamy

I have tested your updated version of subtotal.js for displaying row subtotal in below portion of row.
Its working but now my subtotal for column is not working properly after this update.

Please check attached files as error in my case.
![columnsubtotalerror](https://user-images.githubusercontent.com/19813124/31596064-9d142b16-b25d-11e7-8793-edb8b180b835.png)
![sub

[2017-10-16 22:36] nagarajanchinnasamy commented on #52
I hope you are referring to the [v1-11.0](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/tree/v1-11.0) branch.

Yes it has lots of bugs..and not ready for use yet.

I am in the process of fixing those issues. In fact its going to be a complete rewrite (almost). This will take some more time. Sorry for the delay. Trying my best.

[2017-10-18 04:37] KishanManali1824 commented on #52
Respected @nagarajanchinnasamy

Please try to implement column sub-total Header Text also in new update.
Waiting for implementation update.

Thanks & Happy Diwali.

[2017-11-01 04:12] KishanManali1824 commented on #52
Respected @nagarajanchinnasamy

Please give any update on this issue.
Waiting for positive reply.

[2017-11-07 07:58] KishanManali1824 commented on #52
Respected @nagarajanchinnasamy

Please give any update on this issue.
Waiting for positive reply.

[2017-11-10 11:14] KishanManali1824 commented on #52
Waiting for your updation.

Please provide update for that row sub-total display on top first.
Its required sir.

On Tue, Oct 17, 2017 at 4:06 AM, Nagarajan Chinnasamy <
notifications@github.com> wrote:

[2017-11-13 19:07] nagarajanchinnasamy commented on #52
@KishanManali1824 sorry its still under development... you can follow the progress on v1-11.0 branch.

[2017-11-14 04:39] KishanManali1824 commented on #52
Respected @nagarajanchinnasamy

Please do it as soon as possible.
Waiting for updation.

[2017-11-26 11:34] nagarajanchinnasamy commented on #52
@KishanManali1824 and friends,

Please check the latest version at v1-10.0 branch. I will merge this branch into master after your confirmation.

Thanks :)

[2017-11-26 11:36] nagarajanchinnasamy commented on #38
@gemiur and friends,

Please check the latest version at v1-10.0 branch. I will merge this branch into master after your confirmation.

Thanks :)

[2017-11-26 11:37] nagarajanchinnasamy commented on #12
@KishanManali1824 and friends,

Please check the latest version at v1-10.0 branch. I will merge this branch into master after your confirmation.

Thanks :)

[2017-11-27 04:45] KishanManali1824 commented on #12
Respected

Let me check it.
Reply you back.

Thanks for updation.

On Nov 26, 2017 5:07 PM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

[2017-11-27 06:11] KishanManali1824 commented on #12
Respected @nagarajanchinnasamy

Its working fine for Row Sub-Total Display Below Property.
Thanks for great work.
Now can i achieve this below requirement in same updation.
Please check my below issue.

I want demo1.png image report type Row & Column Sub-Total Label in our new demo2.png report.
Please check both images.
![demo1](https://user-images.githubusercontent.com/19813124/33253109-e2d1536a-

[2017-11-27 09:12] KishanManali1824 commented on #12
Respected @nagarajanchinnasamy

I found one issue in updation.
See my attachment.
Waiting for reply.
![demo3](https://user-images.githubusercontent.com/19813124/33258916-1c151788-d381-11e7-8710-3a14e3251bb8.PNG)

[2017-11-27 12:44] nagarajanchinnasamy commented on #12
@KishanManali1824 Thanks for testing :)

Thats not an issue. Its an enhancement implemented to show the details in the same line when the number of children is one. In your case, RAIL has only one child NORTH. So, the details of NORTH and RAIL will be same. Instead of repeating the same details for RAIL and NORTH, we now show the details in  one single row. Hope that explains.

[2017-11-28 04:10] KishanManali1824 commented on #12
Respected

Thats ok,now can we achieve that Row-Sub-Total & Column-Sub-Total Header
Label as i described before on github?.

On Mon, Nov 27, 2017 at 6:14 PM, Nagarajan Chinnasamy <
notifications@github.com> wrote:

[2017-11-28 20:54] nagarajanchinnasamy commented on #12
@KishanManali1824

Thats not addressed in this version. Please create a new issue to track it separately.

One small request :) Please feel free to address me as @nagarajanchinnasamy 👍

[2017-11-29 04:34] KishanManali1824 opened #53 "Row & Column Sub-Total Header Label"
![demo1](https://user-images.githubusercontent.com/19813124/33358132-b5b64f6c-d4ec-11e7-824a-534a77f94829.PNG)

![demo2](https://user-images.githubusercontent.com/19813124/33358126-acfea4a0-d4ec-11e7-9eed-61e7da2f469a.PNG)

@nagarajanchinnasamy

I need to show row & column sub-total header label as shown in below attachment.
Please refere below image for clear understanding of what to implement.

[2017-11-29 04:35] KishanManali1824 commented on #12
@nagarajanchinnasamy <https://github.com/nagarajanchinnasamy>

Ok.I have created new issue related to Row Sub-Total Header Label
implementation on github.
refer link :
https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer/issues/53

Waiting for positive reply.

On Wed, Nov 29, 2017 at 2:24 AM, Nagarajan Chinnasamy <
notifications@github.com> wrote:

[2017-12-05 04:30] KishanManali1824 commented on #53
@nagarajanchinnasamy

Please give any updation in this.
Waiting for positive reply.

[2017-12-07 06:33] KishanManali1824 commented on #12
@nagarajanchinnasamy

I want to show the row sub-total when the number of children is one.
Currently when children is one then that row sub-total not coming.

Please help as needed.
Waiting for positive reply.

On Nov 27, 2017 6:14 PM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

@KishanManali1824 <https://github.com/kishanmanali1824> Thanks for testing
:)

Thats not an issue. Its an

[2017-12-07 06:59] nagarajanchinnasamy commented on #12
@KishanManali1824

In the latest [v1.11.0-alpha.0 release](https://github.com/nagarajanchinnasamy/subtotal/releases/tag/v1.11.0-alpha.0) now we show subtotal when a parent number of children is 1. Please check and let me know if there are any issues.

Thanks for your feedback 👍

[2017-12-07 10:57] KishanManali1824 commented on #12
Hey @nagarajanchinnasamy <https://github.com/nagarajanchinnasamy>

Its working fine.Thanks for updation.
You are working like champ😎.

One small request can we export the same pivot html wihout those
expand/collapse icon in excel.
I have already done it but some issue's going.
can u help in it.

Waiting for positive reply.

On Thu, Dec 7, 2017 at 12:29 PM, Nagarajan Chinnasamy <
notifications@gith

[2017-12-07 21:36] nagarajanchinnasamy commented on #12
Pls create a separate issue regarding download. Thanks :-)

[2017-12-08 04:30] KishanManali1824 commented on #12
OK. i will create a separate issue for that.
Also created another issue regarding sub-total header label.

Check & confirm.
Waiting for positive reply.

On Fri, Dec 8, 2017 at 3:06 AM, Nagarajan Chinnasamy <
notifications@github.com> wrote:

[2017-12-08 04:36] KishanManali1824 opened #55 "PivotTable Data Export In Excel Download"
@nagarajanchinnasamy

We need to export pivot data in excel without those expand/collapse arrow & with all table border as it shown in html.

Waiting for positive reply.

[2017-12-08 04:44] KishanManali1824 commented on #12
Respected

Please refer both this two link:

https://github.com/nagarajanchinnasamy/subtotal/issues/53
https://github.com/nagarajanchinnasamy/subtotal/issues/55

On Fri, Dec 8, 2017 at 10:00 AM, Kishan Kadam <kishanskadam@gmail.com>
wrote:

[2017-12-08 12:04] nagarajanchinnasamy commented on #55
@KishanManali1824 could you pls explain how you are exporting the data. Thanks.

[2017-12-11 04:11] KishanManali1824 commented on #53
@nagarajanchinnasamy

Please give any updation in this.
Waiting for positive reply.

[2017-12-11 04:41] KishanManali1824 commented on #55
@nagarajanchinnasamy

Here is my code that currently i am using to export to excel.

 var uri = 'data:application/vnd.ms-excel;base64,',
           template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head></head><body><table>{table}</table></body></html>',
           base64 = function (s) { re

[2017-12-13 06:28] KishanManali1824 commented on #55
@nagarajanchinnasamy

Please give any update.
Waiting for positive reply.

[2017-12-13 06:29] KishanManali1824 commented on #53
@nagarajanchinnasamy

Please give any update.
Waiting for positive reply.

[2017-12-14 21:43] nagarajanchinnasamy commented on #55
@KishanManali1824

You basically are downloading the outer html of the pivot table element. By this method,  i dont think you can eliminate the arrows in labels.

We need to think of another method. Right now am not clear what would that be!!!

[2017-12-15 04:26] KishanManali1824 commented on #55
Ok.Think on it.
What about my other issue of showing row/column sub-total header label .

Is it possible.

On Dec 15, 2017 3:13 AM, "Nagarajan Chinnasamy" <notifications@github.com>
wrote:

@KishanManali1824 <https://github.com/kishanmanali1824>

You basically are downloading the outer html of the pivot table element. By
this method, i dont think you can eliminate the arrows in labels.

We need to

[2017-12-15 09:04] nagarajanchinnasamy commented on #55
@KishanManali1824

After getting the outer html, u can search n remove arrows. Hope that helps :-)

[2017-12-15 09:07] nagarajanchinnasamy commented on #53
@KishanManali1824

This is very much possible. Will include in the next release. Unfortunately, can't commit a timeline.

Contributions as pull requests are  welcome :-)

[2017-12-15 09:10] KishanManali1824 commented on #55
@nagarajanchinnasamy

Ok.Will Check it.

[2017-12-15 09:10] KishanManali1824 commented on #53
@nagarajanchinnasamy

Ok.Will wait for updation.
Thanks

[2017-12-20 11:13] KishanManali1824 commented on #53
@nagarajanchinnasamy

Please give any update in this issue.
Waiting for positive reply.

[2017-12-23 05:30] KishanManali1824 commented on #53
@nagarajanchinnasamy

Please give any update in this issue.
Waiting for positive reply.

[2018-01-29 14:57] karelv opened #56 "when no sub-totals there are also no collapse arrows"
See here:
http://nagarajanchinnasamy.com/subtotal/examples/280_disable_subtotal.html

(Using google chrome browser)

![image](https://user-images.githubusercontent.com/787006/35516824-08fcca84-050d-11e8-8738-0bfea196d2f5.png)

[2018-02-12 03:04] nagarajanchinnasamy commented on #56
This is an expected behaviour. When collapsed, we need to display the subtotal. When subtotal is disabled, what do we have to display?

[2018-02-12 03:04] #56 closed

[2018-02-12 15:44] karelv commented on #56
I would expect that I still can collapse... (the arrows are missing for me, as you can see in the screenshot)
Even when there are no sub-totals in the initial view.
Seems we have different understanding of the expected function.

[2018-03-29 09:58] giko45 opened #57 "rotated text"
Hi,

in case anyone is interested in 90 deg rotated column headers:

change createElement
from
`       if (textContent != null) {
            e.textContent = textContent;
        }
`

to
`       if (textContent != null) {
          if (elementType == 'th') {
            e.innerHTML = '<div>'+textContent+'</div>';
          } else {
            e.textContent = textContent;
          }
        }
`

[2018-04-05 18:10] tr1ple5 opened #58 "Way to have collapsed as the default?"
@nagarajanchinnasamy  I would like to thank you for subotal.js.  I do have a requirement where I need to either collapse multiple rows or just have them all collapsed by default.  Currently, I am able to collapse one row, but when we expand that row, the rows inside are automatically expanded as well.  I was hoping there was a way to have the user expand it manually instead of it defaulting to exp

[2018-04-05 23:46] #58 closed

[2018-04-13 11:44] nagarajanchinnasamy commented on #57
Hi @giko45, Thanks for your contribution. :+1:

[2018-05-02 04:36] KishanManali1824 commented on #53
@nagarajanchinnasamy

Please give any update in this issue.
Waiting for positive reply.

[2018-05-02 04:44] KishanManali1824 commented on #55
![reportexceldata](https://user-images.githubusercontent.com/19813124/39505637-519f3510-4df1-11e8-8c33-5aa6bcae58da.png)

![actualreportdata](https://user-images.githubusercontent.com/19813124/39505643-5a75a764-4df1-11e8-82bc-25931071ad54.PNG)

Please see the difference between two image of my report.
In actual print its ok, but when i export that report in excel, it looks like in given image.
Ple

[2018-05-30 11:18] KishanManali1824 commented on #55
@nagarajanchinnasamy

Respected sir,
Please provide any input in this issue..
Its been very important one in this development.

Waiting for positive reply.

[2018-06-13 06:23] Kishan1824 opened #59 "PivotTable Mutilple Aggragator Functionality"
Respected @nagarajanchinnasamy

Hello,
It's been great experience to implement this pivotJs in my project.
Now, i have a new request for help.
Currently pivotJs accept one aggregator formula like (Sum,Count) on one field.
But there are some reports where i need to implement two aggregator formula like (Sum,Count) on two field.

So respected sir,Is it possible ?
Need Help in this.
Waiting for posit

[2018-07-09 16:57] MrNegimaki opened #60 "Uncaught syntax error at <!DOCTYPE html> line on load"
I'm embedding subtotal.js into my webpage and getting the following error:

Uncaught SyntaxError: Unexpected token <

The default pivottable.js view is displaying just fine, but subtotal.js will not load at all because of this error.

I'm running this via netbeans using glassfish 4.1.1, and not browserify or npm.

[2018-07-09 22:51] MrNegimaki commented on #60
I don't know what I was thinking. I downloaded the page html instead of the raw file. Embarrassing!

[2018-07-09 22:51] #60 closed

[2018-09-04 20:29] plalx opened #61 "Click handler not invoked for grand totals"
The click handler is not invoked for grand totals. The following line must be properly indented as an argument to `createElement`.

https://github.com/nagarajanchinnasamy/subtotal/blob/29bf77279bc0e04610dc57a3ec307c56f2c35578/subtotal.coffee#L376

[2018-10-04 11:51] nagarajanchinnasamy commented on #61
Thanks @plalx for the feedback. Will make the change and commit.

[2018-10-15 21:29] nirvana-msu commented on #51
It would be extremely useful to have `onRefresh` working properly, i.e. being triggered when any row/column expansion state changes, and having `config` list all node paths which are currently expanded (which uniquely describes the state of the pivot). `onRefresh` is not only useful to save/restore layout, but also immensely helpful when trying to implement server-side pivoting.

[2018-11-19 10:10] Kishan1824 commented on #59
Respected @nagarajanchinnasamy
Waiting for positive reply.

[2018-11-20 08:48] Kishan1824 commented on #59
Respected @nagarajanchinnasamy
Is it is possible then i am ready to pay for this requirement.
Please give any updation.

[2018-12-11 06:40] cmevawala commented on #61
@nagarajanchinnasamy : Could you please publish this changes? We have a committed this feature to our customer.

[2018-12-20 06:40] nagarajanchinnasamy commented on #61
@cmevawala Sorry about the delay. Will publish over this weekend.

[2018-12-20 14:24] cmevawala commented on #61
Thanks a lot. Nagrajan

On Thu, Dec 20, 2018, 12:10 PM Nagarajan Chinnasamy <
notifications@github.com> wrote:

[2018-12-29 09:56] chyasif opened #64 "Column Total for each column group"
Dear Sir,
Thanks a lot for your support . Would like to know how to get total based on each column category.
![pivot](https://user-images.githubusercontent.com/33647101/50536762-06d83f00-0b82-11e9-88aa-3964be58f155.png)

Here totals will show - Carton Total and Kg Total instead of existing total.

Thanks in advance.

[2019-01-01 04:42] cmevawala commented on #61
Hi Nagarajanchinnasamy,

Did you got a chance to publish the latest code of SubTotal JS on NPM
Registery?

Regards
Chitrang Mevawlaa

On Thu, Dec 20, 2018 at 7:54 PM Chitrang Mevawala <chintu.m18@gmail.com>
wrote:

[2019-02-14 09:34] jake6192 opened #65 "Cannot collapse any rows in multi-index pivot table."
I have created a table with 2 row values and 3 column values - the columns are collapsible but the rows are not.
I have tried initially with just the 'pivot' method, now moved to 'pivotUI' method but no difference.

![image](https://user-images.githubusercontent.com/26007329/52776447-825e5480-3039-11e9-9000-a35d146eef06.png)

So the Year & Month columns work as expected, but the Router Revision do

[2019-02-18 13:21] jjagielka opened #66 "rowTotals/colTotals"
PivotTable v.2.21 introduced hide/show totals option:
[code]

This option is ignored when used with `subtotal`

[2019-02-18 14:48] jjagielka opened #67 "pvtRowSubtotal used too often"
Function `buildRowHeaders` creates each row with `pvtRowSubtotal` class set.
`tr = createElement("tr", "pvtRowSubtotal row" + rowHeader.row, "", ...`

I think this is overused causing that all cells are with bold font. I have removed that and now `pvtVals` render with normal font while subtotal cells with bold font.

[2019-03-23 15:41] tschroedertlc commented on #65
I'm also having the same issue and I am also new to using this library. @jake6192 Did you ever solve this problem? Thanks!

[2019-03-25 22:04] tschroedertlc commented on #65
Figured it out finally. My issue was that I did not add the link for subtotal.min.css, which is a vital part of displaying everything correctly.

[2019-03-26 12:38] jake6192 commented on #65
I ended up coding it myself haha, but good to know i missed a much easier fix... Cheers :)

[2019-04-14 17:35] astrarudra commented on #59
Any progress on this, even I would like this feature.

[2019-06-08 13:57] vr2xiq opened #68 "row grand total"
is it possible to disable the row grand total ? thank you.

[2019-07-01 06:36] karthikeyl opened #69 "is this support in angular 6 thanks in advance"

[2019-07-01 07:06] karthikeyl commented on #69
sorry working it now

[2019-07-01 07:06] #69 closed, assigned to nobody

[2019-09-24 14:01] kalimuthu123 commented on #53
how to import subtotal in npm?

[2019-09-27 11:41] kalimuthu123 commented on #58
i want to make collapse at intial refresh

[2019-11-13 08:21] nevalain commented on #68
Might this help you? (EDIT: These parameters seem to be ignored in subtotals plugin)
https://github.com/nicolaskruchten/pivottable/wiki/Frequently-Asked-Questions#totals

Also css and javascript can be used to hide total rows.

(I am no expert so parameters may not work with subtotals plugin.)

[2019-12-11 12:42] pranjal-goswami commented on #16
Hi!
I have attempted to write a plugin for adding multiple aggregations on different fields and have published them here: https://github.com/pranjal-goswami/multifact-pivottable

![Multifact-pivottable](http://pranjalgoswami.in/multifact-pivottable/examples/images/multifact-pivottable-2-min.png)

Using this plugin you can :

- Add multiple aggregations to the same pivottable: AVG(Column A), SUM(Co

[2019-12-19 13:03] DanEnglishby opened #70 "Loading Pivot Configuration results in - Cannot read property 'value' of undefined (val = totalAggregator.value();)"
After saving the pivot configuration with any of the SubTotal.js renderers to cookie and trying to restore an error is produced.

Specifically line 567 in subtotal.js (val = totalAggregator.value();)
error message: Cannot read property 'value' of undefined

The following JSON is what is being saved and attempting to be reloaded.

`{"rendererOptions":{"localeStrings":{"renderError":"An error occurr

[2020-02-03 08:38] franpic opened #71 "Version 1.11.0-alpha.0 - rendererOptions.colSubtotalDisplay.collapseAt and rendererOptions.rowSubtotalDisplay.collapseAt are not working"

[2020-02-03 08:42] franpic commented on #71
Sorry, delete this issue open by mistake.

[2020-02-03 08:57] franpic commented on #71
Good morning,
the new subtotal options do not produce the same effect as use of the deprecated rendererOptions.collapseColsAt and
rendererOptions.collapseRowsAt

[2020-02-03 09:39] franpic opened #72 "subtotal.s 1.11.0-alpha.0 - sowUI parameter not working"

[2020-02-03 09:43] franpic opened #73 "sowUI parameter not working"
subtotal 1.11.0-alpha.0 - pivottable 2.23.0

Good morning,
the showUi parameter is not working

[2020-02-03 09:43] #72 closed, assigned to nobody

[2020-02-03 09:47] franpic commented on #73
sorry, this issue is now correctly posted at https://github.com/nicolaskruchten/pivottable/issues/1180

[2020-02-03 09:47] #73 closed, assigned to nobody

[2020-02-03 10:59] #71 closed, assigned to nobody

[2020-02-14 09:47] franpic opened #74 "Is it possible to pass html components to arrowCollapsed and arrowExpanded attributes?"
Hi all,

Is it possible to pass html components to arrowCollapsed and arrowExpanded attributes?

Something like:
`rendererOptions: {
                                arrowCollapsed: "<button type="button">+</button>",
                                arrowExpanded: "◢"
}`

[2020-02-26 12:10] stephypeter commented on #70
I am facing the same issue Cannot read property 'value' of undefined at line val = totalAggregator.value();

[2020-02-28 05:41] stephypeter commented on #16
@pranjal-goswami @nagarajanchinnasamy
I have seen both the plugins, both are great for extending pivot table features.
It would be nice if both could be integrated into one.

[2020-04-16 20:49] nevalain opened #75 "Would it be possible to collapse automatically if there is no data in attribute?"
Would it be possible to make an option to collapse automatically if there are only "empty" rows/cols inside an attribute under some other attribute?

Currently all those "empty" subtotals are visible and they give no additional information. The goal would be that only subtotals with row/col information would be expanded.

This would mean collapsing automatically those items where under the "Level1

[2020-04-30 20:55] #65 closed, assigned to nobody

[2020-04-30 20:56] nagarajanchinnasamy commented on #65
adding the link for subtotal.min.css resolved the issue.

[2020-07-02 07:02] HaripriyaS-dxc opened #76 "Gaps created between value rows on expanding"
Hi,

I have set, white-space  : normal in css and on expansion, gaps are created between values rows. Please suggest suitable changes to fix this.

[2020-07-10 06:32] GregoMiranda commented on #66
Hello,
Could you add this option?
Subtotal would be very complete.
Thank you very much

[2021-04-28 06:38] rkhapre opened #77 "Multiple Aggregator (Sum/Total/Min/Max) with Subtotals"
Hi @nagarajanchinnasamy , is it possible to integrate subtotal with multi-aggregator, if yes how? can you please throw some light on this

Thanks

[2021-10-22 18:08] coddos commented on #22
Has there been any progress on this sorting enhancement?  This would be a really useful feature!

[2022-03-07 14:54] AB011V1 opened #78 "Subtotal.js and Multifact-pivottable.js integration"
Has anyone been able to alter subtotal.js to accept more than 1 aggregator?

[2022-04-23 22:23] joankent commented on #29
Hi @nagarajanchinnasamy your implementation of subtotals is amazing!, can you help me to implement subtotal in pivot normal without pivotUI, in additional, about @SAMJN 's question, it is possible?  I share this fiddle example, thank you very much!

https://jsfiddle.net/joankent/hkvrgum4/1/